*{
    margin: 0;
    padding: 0;
}
.inicio{
   display:block;
}
#letrasImg{
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}
.letras{
    position: absolute;
    top: 34%;
    left: 44%;
}
#letrasImg{
    width: 100%;
    height: 100vh;
    /**background-color: white;**/
    background-image: url(../img/fondoPagina.jpg);
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.bordeSobremi{
    padding: 10px;
    position: relative;
    border: 2px solid rgb(201, 200, 200);
    border-radius: 23px;
    width: 70%;
    left: 15%;
}
.contacta{
    width: 100%;
    height: 100vh;
    background-color: white;
}



