*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.inicio{
   display:block;
}
#letrasImg{
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}
.letras{
    position: absolute;
    top: 25%;
    left: 44%;
}
#letrasImg{
    width: 100vw;
    height: 100vh;
    background-color: white;
}